
@{
    ViewBag.Title = "EditProfileSuccess";
}



<div class="accountHeader">
    <h2>
        个人信息修改
    </h2>
    <p class="text-success">您的个人信息已经修改成功!</p>
    <br />

    @Html.DevExpress().Button(settings =>
{
    settings.Name = "Button";
    settings.Text = "返回";
    settings.UseSubmitBehavior = false;
    settings.RouteValues = new { Controller = "Home", Action = "Index" };
}).GetHtml()


</div>