@model Supeng.Examination.Model.UserProfile
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_rootLayout.cshtml";
}

<h2>重置密码</h2>

<h3>用户名: @Model.Name</h3>

<h3 class="danger">点击重置密码，将重置该用户的密码为123！</h3>

@Html.DevExpress().Button(settings =>
{
    settings.Name = "btConfirm";
    settings.Text = "重置密码";
    settings.UseSubmitBehavior = false;
    settings.RouteValues = new { Controller = "PasswordReset", Action = "ResetUserPassword", id = Model.UserId };
}).GetHtml()


